<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- parametros para la conexion a la base de datos -->
	    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	    <property name="connection.url">jdbc:mysql://localhost/bigstylebarber</property>
	    <property name="connection.username">styleBarber</property>
	    <property name="connection.password">5t1le3ar3r</property>
	    
	    <!-- Configuracion del pool interno -->
	    <property name="connection.pool_size">1</property>
	    
	    <!-- Dialecto de la base de datos -->
	    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
	    
	    <!-- Otras propiedades importantes -->
	    <property name="show_sql">true</property>
	    <!-- <property name="hbm2ddl.auto">create-drop</property> -->
	    
	    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
	    
	    <!-- Archivos de mapeo -->
	    <mapping class="com.big.style.barber.dominio.PuestoDTO"/>
	    <mapping class="com.big.style.barber.dominio.BarberoDTO"/>
	    <mapping class="com.big.style.barber.dominio.SucursalDTO"/>
	    <mapping class="com.big.style.barber.dominio.ServicioDTO"/>
	    <mapping class="com.big.style.barber.dominio.TipoServicioDTO"/>
	    <mapping class="com.big.style.barber.dominio.ServicioBarberoDTO"/>
	    <mapping class="com.big.style.barber.dominio.CitaDTO"/>
	    <mapping class="com.big.style.barber.dominio.ClienteDTO"/>
	    <mapping class="com.big.style.barber.dominio.ParametroDTO"/>
	    <mapping class="com.big.style.barber.dominio.PromocionDTO"/>
	</session-factory>
</hibernate-configuration>